@import 'next-cloudinary/dist/cld-video-player.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme(colors.border);
  }

  *::selection {
    background-color: theme(colors.muted.foreground);
    color: theme(colors.background);
  }

  body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
  }
}

@layer base {
  /* Firefox */
  * {
    scrollbar-color: theme(colors.secondary.foreground)
      theme(colors.secondary.DEFAULT);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: theme(width[1.5]);
  }

  *::-webkit-scrollbar-track {
    background-color: theme(colors.secondary.DEFAULT);
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme(colors.secondary.foreground);
    border-radius: theme(borderRadius.full);

    &:hover {
      background-color: theme(colors.secondary.DEFAULT);
    }
  }
}


.earth-animation {
  background:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
  background-size:cover;
  border:1px solid rgba(0, 0, 0, 0.534);
  border-radius:50%;
  width:40px;
  height:40px;
  animation: movimiento 30s linear 0s infinite alternate;
  box-shadow:0 0 5px RGBA(255,255,255, 0.10),
             -8px -8px 15px rgba(0, 0, 0, 0.2) inset,
             2px 2px 2px rgba(0, 0, 0, 0.2) inset,
             -45px -45px 25px RGBA(0,0,0, 0.2) inset, 
             25px 25px 45px RGBA(0,0,0, 0.2) inset;
  margin:5px auto;
  transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
  0% { background-position:0 0 }
  100% { background-position:355px 0 }
}